.space {
    /* Adds a space at the bottom of the div
        Made by: Matthew Rozendaal
    */
    padding-bottom: .8em;
}
.topSpace{
    padding-top: .8em;
}
h1{
    color:forestgreen;
}
.sorroundPadding{
    padding-left: .3em;
    padding-right: .3em;
}
.error{
    color: red;
}